li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    size: 1.4rem;
    list-style-position: inside;
}

.BCtitle {
    size: 5rem;
    color: #8f1a95;
    text-decoration: underline;
}

.BCbutton {
    background-color: #ffcc66;
}

.booklist {
    display: block;
    text-align: center;
}